body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.LoginView-container {
  background: radial-gradient(circle at 1.98% 37.98%, #cad6e8, transparent 100%),radial-gradient(circle at 98.02% 33.02%, #d3dce8, transparent 100%),radial-gradient(circle at 50% 50%, #fcfeff, #fcfeff 100%);
  backgroundPosition: center;
  height: calc(100vh - 64px);
  padding: 20px;
}
.footerView {
  background: radial-gradient(circle at 1.98% 37.98%, #cad6e8, transparent 100%),radial-gradient(circle at 98.02% 33.02%, #d3dce8, transparent 100%),radial-gradient(circle at 50% 50%, #fcfeff, #fcfeff 100%);
  display: flex;
  justify-content: center;
  text-align: center;
  color: black;
  bottom: 0;
}

.aec-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.MainContent {
  padding: 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
  min-width: 0;
  height: 100vh;
  gap: 8px;
}

.ContentBox {
  display: flex;
  margin-bottom: 8px;
  gap: 8px;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* Adjust for larger screens */
@media (min-width: 600px) {
  .MainContent {
    padding-left: 24px;
    padding-right: 24px;
  }

  .ContentBox {
    flex-direction: row;
    align-items: center;
  }
  .Address-Table{
    border: 0.5px solid black;
  }
}